@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    /* HIJAU MASJID (Primary) */
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;

    /* WARNA PENDUKUNG */
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --secondary: 142 20% 96%;
    --secondary-foreground: 142 30% 20%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 142 20% 96%;
    --accent-foreground: 142 30% 20%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 142.1 76.2% 36.3%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  
  h1 {
    @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl font-sans text-slate-900;
  }

  h2 {
    /* Judul Seksi: Pakai Font Serif biar elegan, Ukuran 3xl */
    @apply scroll-m-20 text-3xl font-semibold tracking-tight first:mt-0 lg:text-4xl font-serif text-slate-900;
  }

  h3 {
    @apply scroll-m-20 text-2xl font-semibold tracking-tight font-sans text-slate-900;
  }

  h4 {
    @apply scroll-m-20 text-xl font-semibold tracking-tight font-sans text-slate-900;
  }

  p {
    @apply leading-7 text-slate-600 [&:not(:first-child)]:mt-6;
  }

  .arabic-text {
    @apply font-arabic text-3xl leading-loose text-right;
  }
}